
@{
    ViewData["Title"] = "Home Page";
    var userId = TempData["userId"]?.ToString();
    var sessionData = ViewBag.SessionData;
    var cookieData = ViewBag.CookieData;
    var hiddenData = ViewData["hiddenData"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    user Id: @userId
</div>

<div>
    Session Data: @sessionData
</div>

<div>
    Cookie Data: @cookieData
</div>


<input type="hidden" id="hiddenData" value="@hiddenData" />
